<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Search employees - company</title>
</head>
<body>
	<div th:replace="layout::header"></div>
	<div class="container" layout:fragment="content">
		<h3>Search Employee</h3>
		<form id="searchForm" class="form-inline" th:action="@{/employees/search}" th:method="get" th:object="${searchForm}">
			<div class="form-group">
				<label class="control-label"> 氏名</label>
				<input class="form-control" type="text" th:field="*{name}"/>
			</div>
			<div class="form-group">
				<label class="control-label"> 年齢</label>
				<input class="form-control" type="text" th:field="*{ageFrom}"/>
				～
				<input class="form-control" type="text" th:field="*{ageTo}"/>
			</div>
			<div class="form-group">
				<label class="control-label"> 性別</label>
				<input class="form-control" type="text" th:field="*{sex}"/>
			</div>
			<button class="btn btn-default" type="button" onclick="onClickSearch()">検索</button>
		</form>
		<div id="resultList">
			<div th:replace="employees/list::listBody" th:fragment="list"></div>
		</div>
		<a class="btn btn-default" href="/employees/new">新規作成</a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>