<!DOCTYPE html>
<!-- ① -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="utf-8" />
		<!-- ② -->
		<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">company</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/company/employee.js"><</script>
	</head>
	<body>
		<header th:fragment="header">
			<div class="container">
				<h2>Employee Management</h2>
				<div class="pull-right" th:if="${loginForm.flg}" th:object="${loginForm}">
					ユーザID:<span th:text="*{userid}"></span>
					氏名:<span th:text="*{name}"></span>
					<a class="btn btn-link" href="/employees/logout">ログアウト</a>
				</div>
			</div>
		</header>
		<div layout:fragment="content"></div>
		<footer th:fragment="footer">
			<div class="container">
				<div class="pull-right" th:if="${loginForm.flg}">
					<a class="btn btn-link" href="/employees/list">一覧画面へ</a>
				</div>
			</div>
		</footer>
	</body>
</html>